@font-face {
  font-family: "Prabhakar";
  src: url("/fonts/prabhakar.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.heading-font {
  font-family: "Prabhakar", sans-serif;
}
